* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  position: sticky;
  top: 20px;
}

h2 {
  color: white;
  font-weight: bold;
}

a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: white;
}

.navbar .first-nav-link {
  color: white;
}

.home-image-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.text-leading {
  color: white;
}

.home-section {
  display: flex;
  max-width: 1000px;
  margin: 140px auto;
  align-items: center;
  justify-content: space-evenly;
}

.text-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.social_media-buttons-container {
  display: flex;
  gap: 2rem;
  margin-top: 10px;
}

button {
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  background-color: #222222;
  border: none;
  box-shadow: 0px 1px 6px #1916c8;
}

button a {
  font-size: 1rem;
}

button:hover {
  scale: 1.1;
  cursor: pointer;
}

/* Previous Work */

/* .portifolio-container {
  width: 100vw;
  height: auto;
  text-align: center;
} */
.portifolio-container h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  line-height: 1.25rem;
  padding: 4rem 0;
}

.portifolio-container .work-container {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5rem;
  /* padding: 0 15%; */
}

.portifolio-container .work-container .work-card {
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0px 12px 15px -5px rgba(26, 77, 215, 0.5);
  cursor: pointer;
}
.portifolio-container .work-container .work-card h2 {
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 70%;
  line-height: 35px;
  padding-top: 0.8rem;
}

.portifolio-container .work-container .work-card img {
  width: 100%;
  margin: 1rem 0;
}
.portifolio-container .work-container .work-card div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

/* SKILLS SECTION */

h2,
h3,
h4 {
  color: hsl(0, 0%, 100%);
}

h2 {
  font-weight: bold;
}

p {
  color: hsl(0, 0%, 80%);
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.skills-section {
  margin-top: 100px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-size: 2rem;
}

/* =================================== */
/* LANGUAGES */
/* =================================== */

.languages-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
}

.languages-container h3 {
  margin-left: 10px;
}

.languages {
  display: flex;
  gap: 1rem;
  padding: 5px 10px;
}

.languages img {
  width: 40px;
  align-self: flex-start;
}

.languages p {
  font-size: 0.9rem;
}

.languages h4 {
  margin-bottom: 10px;
}

/* =================================== */
/* SKILLS */
/* =================================== */

.skills-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 20px;
}

.skills-sub-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.skills-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-headers h4 {
  line-height: 0.8;
}

.skills-progressbar {
  height: 4px;
  background-color: white;
}

.skills-progressbar span {
  display: block;
  background-color: #4b48de;
  width: 100%;
  height: 100%;
}

.skills:nth-child(2) .skills-progressbar span {
  width: 70%;
}
.skills:nth-child(3) .skills-progressbar span {
  width: 80%;
}
.skills:nth-child(4) .skills-progressbar span {
  width: 95%;
}
.skills:nth-child(5) .skills-progressbar span {
  width: 90%;
}
.skills:nth-child(6) .skills-progressbar span {
  width: 73%;
}
.skills:nth-child(7) .skills-progressbar span {
  width: 78%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #222222;
  padding: 20px 0;
}
/* =============================================== */
/* MEDIA QUERIES */
/* =============================================== */

/* Skills section Media queries */

@media screen and (max-width: 800px) {
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .languages-container {
    width: 100%;
  }

  .languages-container h3 {
    text-align: center;
  }

  .languages-subcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 2rem;
  }

  .skills-container h3 {
    text-align: center;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 60px;
  }
}
