* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

h2 {
  color: white;
  font-weight: bold;
}

a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: white;
}

.navbar .first-nav-link {
  color: white;
}

.home-image-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

p {
  color: hsl(0, 0%, 50%);
}

.text-leading {
  color: white;
}

.home-section {
  display: flex;
  max-width: 1000px;
  margin: 140px auto;
  align-items: center;
  justify-content: space-evenly;
}

.text-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.social_media-buttons-container {
  display: flex;
  gap: 2rem;
  margin-top: 10px;
}

button {
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  background-color: #222222;
  border: none;
  box-shadow: 0px 1px 6px #1916c8;
}

button a {
  font-size: 1rem;
}

button:hover {
  scale: 1.1;
  cursor: pointer;
}

/* Previous Work */

.portifolio-container h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  line-height: 1.25rem;
  padding: 4rem 0;
  text-align: center;
}

.portifolio-container .work-container {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5rem;
  padding: 0 10%;
}

.portifolio-container .work-container .work-card {
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0px 12px 15px -5px rgba(26, 77, 215, 0.5);
  cursor: pointer;
}
.portifolio-container .work-container .work-card h2 {
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 70%;
  line-height: 35px;
  padding-top: 0.8rem;
}

.portifolio-container .work-container .work-card img {
  width: 100%;
  margin: 1rem 0;
}
.portifolio-container .work-container .work-card div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

/* SKILLS SECTION */

h2,
h3,
h4 {
  color: hsl(0, 0%, 100%);
}

h2 {
  font-weight: bold;
}

p {
  color: hsl(0, 0%, 50%);
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.skills-section {
  margin-top: 100px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-size: 2rem;
}

/* =================================== */
/* LANGUAGES */
/* =================================== */

.languages-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
}

.languages-container h3 {
  margin-left: 10px;
}

.languages {
  display: flex;
  gap: 1rem;
  padding: 5px 10px;
}

.languages img {
  width: 40px;
  align-self: flex-start;
}

.languages p {
  font-size: 0.9rem;
}

.languages h4 {
  margin-bottom: 10px;
}

/* =================================== */
/* SKILLS */
/* =================================== */

.skills-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 20px;
}

.skills-sub-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.skills-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-headers h4 {
  line-height: 0.8;
}

.skills-progressbar {
  height: 4px;
  background-color: white;
}

.skills-progressbar span {
  display: block;
  background-color: #4b48de;
  width: 100%;
  height: 100%;
}

.skills:nth-child(2) .skills-progressbar span {
  width: 70%;
}
.skills:nth-child(3) .skills-progressbar span {
  width: 80%;
}
.skills:nth-child(4) .skills-progressbar span {
  width: 95%;
}
.skills:nth-child(5) .skills-progressbar span {
  width: 90%;
}
.skills:nth-child(6) .skills-progressbar span {
  width: 73%;
}
.skills:nth-child(7) .skills-progressbar span {
  width: 78%;
}

/* ========= FOOTER SECTION ===== */

footer h2 {
  text-align: center;
  margin: 4rem 0;
}

footer .footer-map {
  max-width: 100%;
  margin-bottom: 5rem;
}

.footer-container {
  display: flex;
  gap: 5rem;
}

.contact-info {
  display: flex;
}
.contact-info img {
  max-width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.contact-info div {
  margin: 0 0 2rem 1rem;
  text-align: start;
}
.contact-info div h5 {
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 80%;
  margin-bottom: 0.2rem;
}
.contact-info div p {
  color: #fff;
  opacity: 70%;
  font-weight: bold;
  font-size: 0.7rem;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 22rem;
}

.form-contact h3 {
  text-align: start;
  margin-bottom: 2rem;
}
.form-contact form {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  margin-bottom: 6rem;
}

.form-contact form input {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.8rem;
  background-color: #222222;
  border: 1px solid #555555;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
.form-contact form input::placeholder,
.form-contact form textarea::placeholder {
  color: #fff;
  opacity: 50%;
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
}

.form-contact textarea {
  width: 100%;
  margin-bottom: 0.8rem;
  background-color: #222222;
  border: 1px solid #555555;
  height: 6rem;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
.form-contact form button {
  color: #fff;
  width: 6rem;
  background-color: #333333;
  position: absolute;
  right: 0;
  bottom: -2rem;
  padding: 10px 0;
  border-radius: 5px;
}

/* Footer Link  */
.footer-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #333333;
}
.footer-link-container ul {
  display: flex;
}

.footer-link-container ul li {
  display: inline-block;
  columns: #fff;
  list-style: none;
  margin-top: 0.6rem;
}
.footer-link-container ul li a,
.footer-link-container p {
  color: #fff;
  opacity: 50%;
  font-size: 0.8rem;
  margin-right: 0.8rem;
  font-weight: 200;
}
.footer-link-container p {
  margin-top: 0.6rem;
  opacity: 60%;
}

/* =========== RESPONSIVENESSS =============== */

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .portifolio-container .work-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .portifolio-container .work-container img {
    width: 100%;
    height: auto;
  }
  .portifolio-container .work-card h2 {
    text-transform: uppercase;
  }
  .portifolio-container .work-card div button {
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
  }
  .contact-info div p,
  .social-links div h5 {
    font-size: 1rem;
    opacity: 60%;
  }

  footer .footer-map {
    padding: 0 5%;
  }
}

/* =============================================== */
/* MEDIA QUERIES */
/* =============================================== */

/* Skills section Media queries */

@media screen and (max-width: 800px) {
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .languages-container {
    width: 100%;
  }

  .languages-container h3 {
    text-align: center;
  }

  .languages-subcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 2rem;
  }

  .skills-container h3 {
    text-align: center;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 60px;
  }

  .text-container {
    padding: 0 10px;
  }
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #222222;
  padding: 20px 0;
}
